body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

th button {
    margin-left: 10px;
}

.filters form {
    display: flex;
    align-items: center;
}
.filters form div,
.filters form button {
    margin: 5px;
}
.card-header button,
.card-header a {
    margin: 5px;
}
